/** 项目中的公共类 **/

// 浮动类
.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix {
  zoom: 1;
}

.clearfix::after {
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

// 填充类
// 处理字体类
.ft-brk {
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.ft-12 {
  font-size: 12px;
}

.ft-14 {
  font-size: 14px;
}

// 本项目中的特有类
$topBar: './assets/image/topbar.png';
$topList: './assets/image/toplist.png';
.bg-topbar {
  background-image: url($topBar);
  background-repeat: no-repeat;
}

.bg-toplist {
  background-image: url($topList);
  background-repeat: no-repeat;
}

.icon-play {
  float: right;
  position: absolute;
  right: 10px;
  bottom: 5px;
  width: 16px;
  height: 17px;
  background-image: url("./assets/image/iconall.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.icon-headset {
  float: left;
  width: 14px;
  height: 11px;
  background-image: url("./assets/image/iconall.png");
  background-position: 0 -24px;
  background-repeat: no-repeat;
  margin: 9px 5px 9px 10px;
}

.cover {
  position: relative;
  display: block;
  width: 140px;
  height: 140px;
  .bottom,
  .msk {
    background-image: url("./assets/image/coverall.png");
    background-repeat: no-repeat;
  }
  .icon-play,
  .icon-headset {
    background-image: url("./assets/image/iconall.png");
    background-repeat: no-repeat;
  }
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
  .msk {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 0 0;
  }
  .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 27px;
    background-position: 0 -537px;
  }
  .icon-play {
    position: absolute;
    right: 10px;
    bottom: 5px;
    width: 16px;
    height: 17px;
    background-position: 0 0;
    cursor: pointer;
  }
  .icon-headset {
    float: left;
    widows: 14px;
    height: 11px;
    background-position: 0 -24px;
  }
  .count {
    float: left;
    margin-top: 7px;
    color: #ccc;
  }
}