/** 项目中的公共类 **/

// 浮动类
.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix {
  zoom: 1;
}

.clearfix::after {
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

// 填充类
// 处理字体类
.ft-brk {
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.ft-12 {
  font-size: 12px;
}

.ft-14 {
  font-size: 14px;
}

// 本项目中的特有类
$topBar: './assets/image/topbar.png';
$topList: './assets/image/toplist.png';
.bg-topbar {
  background-image: url($topBar);
  background-repeat: no-repeat;
}

.bg-toplist {
  background-image: url($topList);
  background-repeat: no-repeat;
}

